$primary-bg: #FFF;
// $mm-home-bg: darkcyan;
$admin-home-bg: #023e3e;
$admin-home-primary-font: #FFF;
$admin-nav-item-active-font: #666;

$admin-title-font: 24px;
$login-title: 30px;
$admin-top-nav-font: 20px;

$admin-top-nav-height: 50px;
$admin-side-nav-width: 175px;