@import '../marketing-manager-variables.scss';

.mm-nav-item {
    display: block;
    text-align: center;
    padding: 12px;
    background-color: $primary-bg;
    color: $mm-nav-item-active-font;
    font-size: 16px;
    box-shadow: 0 0 5px;
}