<section class="cart-list" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 cart-item-list">
                <div class="cart-item mb-4" *ngFor="let webinar of webinars">
                    <div class="row ">
                        <div class="col-lg-3 col-md-3 mb-4 mb-md-0">
                            <img src="{{webinar.webinarImageUrl}}" alt="" class="img-fluid" >
                        </div>
                        <div class="col-lg-9 col-md-9">
                            <h2 class="mb-3">{{webinar.title}}</h2>
                            <h3 class="mb-3"></h3>
                            <h6 class="mb-3">#0912007</h6>
                            <div class="row">
                                <div class="cart-item-cost col-xl-3 col-lg-2 col-md-2 col-sm-12 mb-4 mb-md-0">
                                    <p>${{webinar[paymentOptions[webinar.id]]}}</p>
                                </div>
                                <!-- <div class="cart-input col-xl-5 col-lg-6 col-md-6 col-sm-12 text-center mb-4 mb-md-0">
                                    <span class="input-number-decrement">–</span><input class="input-number" type="text" value="1" min="0" max="10"><span class="input-number-increment">+</span>
                                </div> -->
                                <div class="cart-action col-xl-4 col-lg-4 col-md-4 col-sm-12 text-center text-md-right ">
                                    <button class="btn btn-sm btn-danger"><i class="far fa-trash-alt"></i> Remove</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-lg-4">
                <div class="cart-price">
                   <div class="cart-price-items">
                       <span>Price ({{webinars.length}} Items)</span>
                       <!-- <span>$ 23</span> -->
                   </div>
                   <hr>
                   <div class="cart-price-total mb-4">
                        <span>Total Cost</span>
                        <span>$ {{totalPrice}}</span>
                    </div>
                    <button class="btn btn-order btn-block" (click)="payment()">Place order</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container">
    <div class="clr-row">
        <div class="clr-col-lg-8">
            <div class="card cart-items-list">
                
                   <div class="clr-row cart-item" *ngFor="let webinar of webinars">
                       <div class="clr-col-xl-2 clr-col-lg-3 clr-col-md-3 cart-img">
                            <img src="{{webinar.webinarImageUrl}}" alt="">
                       </div>
                       <div class="clr-col-xl-10 clr-col-lg-9 clr-col-md-9">
                            <h5 class="webinar-title line-clamp-one">{{webinar.title}}</h5>
                            <p class="subscribe-type">Live Version - One Attendee - 100</p>
                            <div class="clr-row cart-actions">
                                <div class="clr-col-lg-3 clr-col-md-3 item-price">
                                    <cds-icon shape="dollar"  size="md"></cds-icon> {{webinar[paymentOptions[webinar.id]]}}
                                </div>
                                <div class="clr-col-lg-5 clr-col-md-6">
                                    <div class="cart-input">
                                        <span class="input-number-decrement">–</span>
                                            <input class="input-number" type="text" value="1" min="0" max="10">
                                        <span class="input-number-increment">+</span>
                                    </div>
                                </div>
                                <div class="clr-col-lg-4 clr-col-md-3">
                                    <button class="btn btn-trash btn-outline-danger"><cds-icon shape="trash" solid size="sm"></cds-icon> Remove</button>
                                    
                                </div>
                            </div>
                       </div>
                   </div>
                   
                   
            </div>
        </div>
        <div class="clr-col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span>Order Summary</span>
                </div>
                <div class="card-block">
                    <table class="table mt-0">
                        <tbody>
                            <tr>
                                <td>Total Items</td>
                                <td>{{webinars.length}} Items</td>
                            </tr>
                            <tr>
                                <td>Order subtotal</td>
                                <td>$ {{totalPrice}}</td>
                            </tr>
                            <tr>
                                <th>Total</th>
                                <th>$ {{totalPrice}}</th>
                            </tr>
                            <tr >
                                <td colspan="2">
                                    <button class="btn btn-block btn-success btn-order" (click)="payment()">Place Order</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>