<section class="your-partners" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2 class="side-heading mb-4">OnDemand Webinars</h2>
            </div>
        </div>
    </div>
    <div class="slider-container pl-3" *ngIf="webinars.length">
        <div class="your-partners-slider your-partners-slider-list owl-carousel owl-theme bantertext-slider">
            <div class="partner-card  mx-1" *ngFor="let webinar of webinars">
                <div class="row">
                    <div class="partner-img col-12 col-md-5">
                        <!-- <img src="https://venus-scocu-assets.s3.amazonaws.com/1629899784731792" alt="" class="img-fluid"> -->
                        <img src="{{webinar.webinarImageUrl}}"
                            alt="" class="img-fluid">
                    </div>
                    <div class="partner-content col-12 col-md-7">
                        <h2 class="mb-3">{{webinar.title}}</h2>
                        <div class="webinar-details mb-3">
                            <div><i class="far fa-calendar-alt"></i> {{webinar.date}}</div>
                            <div><i class="fas fa-user-tie"></i> {{webinar.author}}</div>
                        </div>
                        <div class="webinar-details  mb-3">
                            <div><i class="far fa-clock"></i> {{webinar.pdtTime}} PDT | {{webinar.edtTime}} EDT</div>
                            <div><i class="fas fa-stopwatch"></i> {{webinar.duration}} MINS</div>
                        </div>
                        <div class="webinar-details">
                            <div class="webinar-cost"><i class="fas fa-dollar-sign"></i> {{webinar.recOneAttendeePrice}} USD</div>
                            <div><button class="btn enroll-btn" (click)="viewDetails(webinar)">View <i class="far fa-eye"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</section>


<section class="homePage-webinars section-padding">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-12 side-headings">
                <h2 class="">Ondemand Webinars</h2>
                <!-- <button class="btn btn-link">View All</button> -->
            </div>
        </div>
        
        <div class="clr-row">
            <div class="clr-col-xl-3 clr-col-lg-3 clr-col-md-6 clr-col-12" *ngFor="let webinar of webinars">
                <div class="card webinar-card">
                    <div class="card-img">
                        <img src="{{webinar.webinarImageUrl}}" />
                    </div>
                    <div class="card-block">
                        <div class="card-text ">
                            <h2 class="webinar-title">{{webinar.title}}</h2>
                            <div class="webinar-details">
                                <div class="webinar-details_one">
                                    <cds-icon shape="user" size="sm" ></cds-icon><span>{{webinar.author.toUpperCase()}}</span>
                                </div>
                                <div class="webinar-details_two">
                                    <cds-icon shape="calendar" size="sm"></cds-icon><span>{{webinar.date}}</span>
                                </div>
                            </div>
                            
                            <div class="webinar-details">
                                <div class="webinar-details_one">
                                    <cds-icon shape="clock" size="sm"></cds-icon> <span>{{webinar.pdtTime}} PDT | {{webinar.edtTime}} EDT</span> 
                                </div>
                                <div class="webinar-details_two">
                                    <cds-icon shape="alarm-clock" size="sm"></cds-icon> <span>{{webinar.duration}} MINS</span>
                                </div>
                            </div>
                            
                            <div class="webinar-details">
                                <div class="webinar-details_price">
                                    <cds-icon shape="dollar" size="sm"></cds-icon> <span>{{webinar.liveOneAttendeePrice}} USD</span>
                                </div>
                                <div class="webinar-details_view">
                                    <button type="button" class="btn btn-icon btn-success" aria-label="settings" (click)="viewDetails(webinar)">
                                        <cds-icon shape="eye" size="sm"></cds-icon> View
                                      </button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
   
    </div>
</section>