<div class="webinar-type-container">
    <div class="admin-home-title">Webinar Type</div>
    <form clrForm clrLayout="vertical" [formGroup]="webinarTypeForm">
        <div class="clr-row admin-home-content">
            <div class="clr-col-12">
                <clr-input-container>
                    <label>Webinar Title:</label>
                    <input clrInput placeholder="" name="title" formControlName="title" />
                </clr-input-container>
            </div>
            <div class="clr-col-12">
                <clr-input-container>
                    <label>Description:</label>
                    <input clrInput placeholder="" name="description" formControlName="description" />
                </clr-input-container>
            </div>
            <div class="clr-col-12 text-right">
                <button class="btn btn-primary" (click)="save()">SUBMIT</button>
            </div>
        </div>
    </form>
</div>