<div class="admin-area">
    <div class="navigation ">
        <div class="brand">
            <span class="brand-icon"><i class="fab fa-figma"></i></span>
            <span class="brand-title">
                <h2>Brand Name</h2>
            </span>
        </div>
        <ul>

            <li>
                <a routerLink="/admin/home/create-webinar" routerLinkActive="linkactive">
                    <span class="nav-icon"><i class="far fa-calendar-plus"></i></span>
                    <span class="nav-title">Create Webinars</span>
                </a>
            </li>
            <li>
                <a routerLink="/admin/home/webinars-list" routerLinkActive="linkactive">
                    <span class="nav-icon"><i class="fas fa-list"></i></span>
                    <span class="nav-title">Webinars List</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="admin-workSpace">
        <div class="topbar">
            <div class="toggle-bar"></div>
            <div class="admin-details">
                <div class="dropdown">
                    <span><i class="fas fa-user-shield"></i> ADMIN</span>
                    <div class="dropdown-content">
                        <ul>
                            <li><a (click)="logout()" class="link"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
                            <!-- <li><a href="#"><i class="fas fa-sign-out-alt"></i> Logout</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="main px-2 pt-4 ">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>