<footer>
    <div class="main-footer mt-100">
        <div class="container">
            <div class="clr-row">
                <div class="clr-col-lg-6 footerLogo-section">
                    <img src="assets/img/trainingsonline.svg" alt="" width="200px" class="footer-logo">
                    <h5 class="my-4">Traininngsonline.com LLC,</h5>
                    <p class="mb-3"><i class="fas fa-map-marker-alt"></i> US : 9854 National Blvd, Los Angeles, CA 90034
                    </p>
                    <p class="mb-3"> <i class="fas fa-map-marker-alt"></i> India : B-Block, Tetra Grand Building,
                        Yelahanka,Bangalore - 560064</p>
                    <div class="social-icons mt-3">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
                <div class="clr-col-lg-3">
                    <h3 class="mb-4">Quick Links</h3>
                    <ul>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> About Us</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Webinars</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Contact Us</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Support</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Privacy Policy</a></li>
                        <li><a href="#"><i class="fas fa-chevron-right"></i> Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="clr-col-lg-3">
                    <h3 class="mb-4">Reach Us</h3>
                    <ul>
                        <li><a href="tel:+13237451389"><i class="fas fa-phone-alt"></i> US: +1 323 745 1389</a></li>
                        <li><a href="tel:+918555023839"><i class="fas fa-phone-alt"></i> INDIA: +91 85550 23839</a></li>
                        <li><a href="mailto:support@traininngsonline.com"><i class="far fa-envelope"></i>
                                support@traininngsonline.com</a></li>
                        <li><a href="mailto:webinars@traininngsonline.com"><i class="far fa-envelope"></i>
                                webinars@traininngsonline.com</a></li>
                        <li><a href="mailto:speaker@traininngsonline.com"><i class="far fa-envelope"></i>
                                speaker@traininngsonline.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="small-footer text-center">
        <p class="mt-0">2021 © Traininngsonline, Inc. All Rights Reserved.</p>
    </div>
</footer>