@import '../marketing-manager-variables.scss';

.mm-report-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
    .mm-title {
        font-size: $mm-title-font;
        margin: 5px 0;
    }
    cds-icon {
        cursor: pointer;
    }
}