<div class="container allWebinars-list">
    <div class="row">
        <div class="col-lg-9 webinarList">
            <div class="webinarCard-lg mb-5">
                <div class="row">
                    <div class="col-lg-6 webinarCard-lg-image ">
                        <img src="https://firebasestorage.googleapis.com/v0/b/trainings-6b945.appspot.com/o/webinars%2F1622109904670_10449_882c_20.jpg?alt=media&token=26fa050a-c7c3-4db1-b330-666ac59383a7" alt="" class="img-fluid webinarImg">
                    </div>
                    <div class="col-lg-6 webinarCard-lg-content">
                        <h2>3 hour Live Virtual Training on Capital Budgeting and Project evaluations</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum voluptate asperiores totam laborum, laudantium eius sunt explicabo beatae eligendi quas.</p>
                        <div class="webinarCard-lg-details mb-3">
                            <div class="mb-3"><i class="far fa-calendar-alt"></i> Sep 21, 2021</div> 
                            <div class="mb-3"><i class="far fa-clock"></i> 10:00 AM PDT | 10:00 AM EDT</div>
                            <div class=""><i class="fas fa-user-tie"></i> Iron Man</div>
                            <div class=""><i class="fas fa-stopwatch"></i> 70 Min</div>
                        </div>
                        <div class="webinarCard-lg-cost">
                            <div class="webinar-cost"><i class="fas fa-dollar-sign"></i> 300</div>
                            <div class="mr-3"><button class="btn view-btn">View More <i class="far fa-eye"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="webinarCard-lg mb-5">
                <div class="row">
                    <div class="col-lg-6 webinarCard-lg-image ">
                        <img src="https://venus-scocu-assets.s3.amazonaws.com/1632476371137573" alt="" class="img-fluid webinarImg">
                    </div>
                    <div class="col-lg-6 webinarCard-lg-content">
                        <h2>3 hour Live Virtual Training on Capital Budgeting and Project evaluations</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum voluptate asperiores totam laborum, laudantium eius sunt explicabo beatae eligendi quas.</p>
                        <div class="webinarCard-lg-details mb-3">
                            <div class="mb-3"><i class="far fa-calendar-alt"></i> Sep 21, 2021</div> 
                            <div class="mb-3"><i class="far fa-clock"></i> 10:00 AM PDT | 10:00 AM EDT</div>
                            <div class=""><i class="fas fa-user-tie"></i> Iron Man</div>
                            <div class=""><i class="fas fa-stopwatch"></i> 70 Min</div>
                        </div>
                        <div class="webinarCard-lg-cost">
                            <div class="webinar-cost"><i class="fas fa-dollar-sign"></i> 300</div>
                            <div class="mr-3"><button class="btn view-btn">View More <i class="far fa-eye"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="webinarCard-lg mb-5">
                <div class="row">
                    <div class="col-lg-6 webinarCard-lg-image ">
                        <img src="https://firebasestorage.googleapis.com/v0/b/trainings-6b945.appspot.com/o/webinars%2F1622109904670_10449_882c_20.jpg?alt=media&token=26fa050a-c7c3-4db1-b330-666ac59383a7" alt="" class="img-fluid webinarImg">
                    </div>
                    <div class="col-lg-6 webinarCard-lg-content">
                        <h2>3 hour Live Virtual Training on Capital Budgeting and Project evaluations</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum voluptate asperiores totam laborum, laudantium eius sunt explicabo beatae eligendi quas.</p>
                        <div class="webinarCard-lg-details mb-3">
                            <div class="mb-3"><i class="far fa-calendar-alt"></i> Sep 21, 2021</div> 
                            <div class="mb-3"><i class="far fa-clock"></i> 10:00 AM PDT | 10:00 AM EDT</div>
                            <div class=""><i class="fas fa-user-tie"></i> Iron Man</div>
                            <div class=""><i class="fas fa-stopwatch"></i> 70 Min</div>
                        </div>
                        <div class="webinarCard-lg-cost">
                            <div class="webinar-cost"><i class="fas fa-dollar-sign"></i> 300</div>
                            <div class="mr-3"><button class="btn view-btn">View More <i class="far fa-eye"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="webinarCard-lg mb-5">
                <div class="row">
                    <div class="col-lg-6 webinarCard-lg-image ">
                        <img src="https://firebasestorage.googleapis.com/v0/b/trainings-6b945.appspot.com/o/webinars%2F1622109904670_10449_882c_20.jpg?alt=media&token=26fa050a-c7c3-4db1-b330-666ac59383a7" alt="" class="img-fluid webinarImg">
                    </div>
                    <div class="col-lg-6 webinarCard-lg-content">
                        <h2>3 hour Live Virtual Training on Capital Budgeting and Project evaluations</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum voluptate asperiores totam laborum, laudantium eius sunt explicabo beatae eligendi quas.</p>
                        <div class="webinarCard-lg-details mb-3">
                            <div class="mb-3"><i class="far fa-calendar-alt"></i> Sep 21, 2021</div> 
                            <div class="mb-3"><i class="far fa-clock"></i> 10:00 AM PDT | 10:00 AM EDT</div>
                            <div class=""><i class="fas fa-user-tie"></i> Iron Man</div>
                            <div class=""><i class="fas fa-stopwatch"></i> 70 Min</div>
                        </div>
                        <div class="webinarCard-lg-cost">
                            <div class="webinar-cost"><i class="fas fa-dollar-sign"></i> 300</div>
                            <div class="mr-3"><button class="btn view-btn">View More <i class="far fa-eye"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
        <div class="col-lg-3">
            <div class="filter-card">
                <div class="form-group">
                    <label for="">Search By</label>
                    <input type="text" class="form-control" id="usr" placeholder="Search By">
                  </div>
                  <div class="form-group">
                    <label for="">Select By Category</label>
                    <select name="cars" class="form-control">
                        <option selected>Select By Category</option>
                        <option value="volvo">Development</option>
                        <option value="fiat">Designing</option>
                        <option value="audi">Backend</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Select By Speaker</label>
                    <select name="cars" class="form-control">
                        <option selected>Select By Speakers</option>
                        <option value="volvo">Lokesh</option>
                        <option value="fiat">Rakesh</option>
                        <option value="audi">Suresh</option>
                    </select>
                  </div>
                  <div class="form-group">
                      <label for="">Select By Month</label>
                        <input type="month" class="form-control"  id="usr" placeholder="Search By">
                  </div>
                  <div>
                    <label for="">Select By Type</label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">Live Webinars
                    </label>
                  </div>
                  <div class="form-check-inline">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" value="">Recorded Webinars
                    </label>
                  </div>
            </div>
        </div>
    </div>
</div>