$primary-bg: #FFF;
// $mm-home-bg: darkcyan;
$mm-home-bg: #023e3e;
$mm-home-primary-font: #FFF;
$mm-nav-item-active-font: #666;

$mm-title-font: 24px;
$login-title: 30px;
$mm-top-nav-font: 20px;

$mm-top-nav-height: 50px;
$mm-side-nav-width: 225px;