<section class="detailed-webinar-details" style="display: none;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="webinarCard">
                    <h1 class="mb-4">{{webinar.title}}</h1>
                    <img src="{{webinar.webinarImageUrl}}" alt="" class="img-fluid webinarCard-img mb-3">
                    <div class="row">
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="fas fa-user-tie"></i> {{webinar.author}}</div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="far fa-calendar-plus"></i> Add To Calander</div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="fas fa-share-alt"></i> Refer a Friend</div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="fas fa-desktop"></i> ID:{{webinar.id}}</div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="fas fa-calendar-alt"></i> {{webinar.date}}</div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="fas fa-clock"></i> {{webinar.pdtTime}} PDT |
                                {{webinar.edtTime}} EDT</div>
                        </div>
                        <div class="col-xl-4 col-lg-6 col-md-6  mb-4">
                            <div class="webinarInfo"><i class="fas fa-stopwatch"></i> {{webinar.duration}} MINS</div>
                        </div>
                        <div class="col-12">
                            <h3>Description</h3>
                            <p class="mb-5">{{webinar.description}}</p>
                        </div>
                        <div class="col-12" [innerHtml]="webinar.htmlContent">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 ">
                <div class="webinar-price">
                    <div class="row" [formGroup]="webinarForm">
                        <div class="col-12">
                            <h2 class="mb-4">Webinar Subscription</h2>
                        </div>

                        <div class="col-lg-12 " *ngIf="webinar.webinarType === 'upcoming'">
                            <div class="webinar-price-title mb-4"><i class="fas fa-headset"></i> Live Webinar</div>
                            <div class="price-list mb-4">
                                <div class="radio mb-2">
                                    <input id="radio-1" type="radio" formControlName="paymentFor" value="liveOneAttendeePrice" >
                                    <label for="radio-1" class="radio-label"> One Attendee -
                                        ${{webinar.liveOneAttendeePrice}} </label>
                                </div>

                                <div class="radio mb-2">
                                    <input id="radio-2" type="radio" formControlName="paymentFor" value="livegroupAttendeesPrice" >
                                    <label for="radio-2" class="radio-label"> Group Attendee -
                                        ${{webinar.livegroupAttendeesPrice}} </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="webinar-price-title mb-4"><i class="fas fa-record-vinyl"></i> Recorded Webinar
                            </div>
                            <div class="price-list mb-4">
                                <div class="radio mb-2">
                                    <input id="radio-3" type="radio" formControlName="paymentFor" value="recOneAttendeePrice" >
                                    <label for="radio-3" class="radio-label"> One Attendee -
                                        ${{webinar.recOneAttendeePrice}} </label>
                                </div>

                                <div class="radio mb-2">
                                    <input id="radio-4" type="radio" formControlName="paymentFor" value="recgroupAttendeesPrice" >
                                    <label for="radio-4" class="radio-label"> Group Attendee -
                                        ${{webinar.recgroupAttendeesPrice}} </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-12" *ngIf="webinar.webinarType === 'upcoming'">
                            <div class="webinar-price-title mb-4"><i class="fas fa-headset"></i> + <i
                                    class="fas fa-record-vinyl"></i> Combo Webinar</div>
                            <div class="price-list">
                                <div class="radio mb-2">
                                    <input id="radio-5" type="radio" formControlName="paymentFor" value="comboOneAttendeePrice" >
                                    <label for="radio-5" class="radio-label"> One Attendee -
                                        ${{webinar.comboOneAttendeePrice}} </label>
                                </div>
                                <div class="radio mb-2">
                                    <input id="radio-6" type="radio" formControlName="paymentFor" value="combogroupAttendeesPrice" >
                                    <label for="radio-6" class="radio-label"> Group Attendee -
                                        ${{webinar.combogroupAttendeesPrice}} </label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <button class="btn add-cart-btn mb-3" (click)="addToCart()">Add To Cart</button>
                                <p class="error-text" *ngIf="showError">Please login to Add to Cart</p>
                                <a href="#" class="btn text-light"><i class="fas fa-undo-alt"></i> Refund Policy</a>
                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
</section>




<section class="detailed-webinar-details ">
    <div class="container">
        <div class="clr-row">
            <div class="clr-col-lg-9">
                <div class="card">
                    <div class="card-img">
                        <img src="{{webinar.webinarImageUrl}}" />
                    </div>
                    <div class="card-block">
                        <h2 class="webinar-title">{{webinar.title}}</h2>
                        <div class="clr-row webinar-infos">
                            <div class="clr-col-lg-4">
                                <cds-icon shape="user" size="md"></cds-icon> {{webinar.author}}
                            </div>
                            <div class="clr-col-lg-4">
                                <cds-icon shape="calendar" size="md"></cds-icon> {{webinar.date}}
                            </div>
                            <div class="clr-col-lg-4">
                                <cds-icon shape="clock" size="md"></cds-icon> {{webinar.pdtTime}} PDT |
                                {{webinar.edtTime}} EDT
                            </div>
                            <div class="clr-col-lg-4">
                                <cds-icon shape="alarm-clock" size="md"></cds-icon> {{webinar.duration}} MINS
                            </div>
                            <div class="clr-col-lg-4">
                                <cds-icon shape="employee" size="md"></cds-icon> ID:{{webinar.id}} 
                            </div>
                            
                        </div>
                        <div class="clr-row">
                            <div class="clr-col-lg-4">
                                <button class="btn btn-link"><cds-icon shape="event" size="md"></cds-icon> Add To Calander</button>
                            </div>
                            <div class="clr-col-lg-4">
                                <button class="btn btn-link"><cds-icon shape="share" size="md"></cds-icon> Share with Friend</button>
                            </div>
                        </div>
                        <h3>Description</h3>
                        <p>{{webinar.description}}</p>
                    </div>
                </div>
            </div>
            <div class="clr-col-lg-3">
               <div class="card webinar-subscription-card">
                   <div class="card-header">
                       <span>Webinar Price Details</span>
                   </div>
                   <div class="card-block" >
                    <form clrForm clrLayout="vertical" [formGroup]="webinarForm">
                        <div class="clr-row">
                        <div class="clr-col-12" *ngIf="webinar.webinarType === 'upcoming'">
                            <h5 class="webinar-sub-title mt-0"><cds-icon shape="headphones"></cds-icon> Live Webinar</h5>
                            <clr-radio-wrapper>
                                <input type="radio" clrRadio value="option1" formControlName="paymentFor" value="liveOneAttendeePrice" />
                                <label>One Attendee - ${{webinar.liveOneAttendeePrice}}</label>
                            </clr-radio-wrapper>
                            <clr-radio-wrapper>
                                <input type="radio" clrRadio value="option2"  formControlName="paymentFor" value="livegroupAttendeesPrice" />
                                <label>Group Attendee - ${{webinar.livegroupAttendeesPrice}}</label>
                            </clr-radio-wrapper>
                        </div>




                        <div class="clr-col-12">
                            <h5 class="webinar-sub-title"><cds-icon shape="microphone"></cds-icon> Recorded Webinar</h5>
                            <clr-radio-wrapper>
                                <input type="radio" clrRadio value="option3"  formControlName="paymentFor" value="comboOneAttendeePrice" />
                                <label>One Attendee - ${{webinar.recOneAttendeePrice}}</label>
                            </clr-radio-wrapper>
                            <clr-radio-wrapper>
                                <input type="radio" clrRadio value="option4" formControlName="paymentFor" value="recgroupAttendeesPrice" />
                                <label>Group Attendee - ${{webinar.recgroupAttendeesPrice}}</label>
                            </clr-radio-wrapper>
                        </div>


                        <div class="clr-col-12" *ngIf="webinar.webinarType === 'upcoming'">
                            <h5 class="webinar-sub-title"><cds-icon shape="headphones"></cds-icon> + <cds-icon shape="microphone"></cds-icon> Combo Webinar</h5>
                            <clr-radio-wrapper>
                                <input type="radio" clrRadio value="option5"  formControlName="paymentFor" value="comboOneAttendeePrice" />
                                <label>One Attendee - ${{webinar.comboOneAttendeePrice}}</label>
                            </clr-radio-wrapper>
                            <clr-radio-wrapper>
                                <input type="radio" clrRadio value="option6"  formControlName="paymentFor" value="combogroupAttendeesPrice" />
                                <label>Group Attendee - ${{webinar.combogroupAttendeesPrice}}</label>
                            </clr-radio-wrapper>
                        </div>
                        <div class="clr-col-12">
                            <button class="btn btn-success btn-block add-cart-btn" (click)="addToCart()">Add Cart</button>
                            <p class="error-text" *ngIf="showError">Please login to Add to Cart</p>
                            <button class="btn btn-link btn-block"><cds-icon shape="error-standard"></cds-icon> Refund Policy</button>
                        </div>
                        </div>
                        
                    </form>
                   </div>
               </div>
            </div>
        </div>
    </div>
</section>