@import './app/admin/admin-variables.scss';

$label-color: #454545;
$input-border: #4545;

.pointer {
    cursor: pointer;
}

.admin-home-title {
    font-size: $admin-title-font;
    color: $admin-font-color;
}

.time-inputs {
    display: flex;
    flex-direction: column;
    justify-content: end;
    label {
        color: $label-color;
        font-weight: 600;
        font-size: .65rem;
        line-height: .9rem;
    }
    input {
        border: none;
        border-bottom: 1px solid $input-border;
    }
}
