:root{
	--page-color:#1F1F25;
	/* --page-color:#ffffff; */
	--primary-color:#4A0E88;
	--secondary-color:#EB3939;
	--text-color:#ffffff;
	
}




@media screen and (min-width:567px){
	 .slider-container{
		max-width: 540px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		width: 100%;
	  }
  }
  @media screen and (min-width:768px){
	 .slider-container{
		max-width: 720px;
		padding-left: 15px;
		padding-right: 15px;
		margin: 0 auto;
		width: 100%;
	  }
  }
  
  
  @media screen and (min-width:992px){
	 .slider-container{
	  max-width: 960px;
	  padding-left: 15px;
	  padding-right: 15px;
	  margin: 0 auto;
	  width: 100%;
	}
  }
  @media screen and (min-width:1200px){
	 .slider-container{
	  max-width: 1140px;
	  padding-left: 15px;
	  padding-right: 15px;
	  margin: 0 auto;
	  width: 100%;
	}
  }
  
  
  @media screen and (min-width:1400px){
	 .slider-container{
	  max-width: 1320px;
	  padding-left: 15px;
	  padding-right: 15px;
	  margin: 0 auto;
	  width: 100%;
	}
  }
  
  @media screen and (min-width:1600px){
	 .slider-container{
	  max-width: 1600px;
	  padding-left: 15px;
	  padding-right: 15px;
	  margin: 0 auto;
	  width: 100%;
	}
  }


















body{
	background-color: var(--page-color);
}


@media screen and (min-width:1400px) {
	.container{
		max-width: 1320px;
	}
}
@media screen and (min-width: 1600px) {
	.container {
	  max-width: 1600px;
	}
}
body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #f5f5f5;
  }
  
  body::-webkit-scrollbar {
	width: 10px;
	background-color: #f5f5f5;
  }
  
  
  
  
  
  body::-webkit-scrollbar-thumb {
	background-color: #4A0E88;
	background-image: -webkit-gradient(
	  linear,
	  0 0,
	  0 100%,
	  color-stop(0.5, rgba(255, 255, 255, 0.2)),
	  color-stop(0.5, transparent),
	  to(transparent)
	);
  }



  .side-heading{
	font-size: 35px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #ffffff;
  }
  @media screen and (max-width:1400px) {
	  .side-heading{
		  font-size: 30px;
	  }
  }
  @media screen and (max-width:992px) {
	.side-heading{
	  font-size: 24px;
	  
	}
  }
  @media screen and (max-width:767px) {
	.side-heading{
	  font-size: 20px;
	  
	}
  }














/* NAVBAR STYLES STARTS HERE */
.navbar-dark{
	/* background-color:#502376 !important; */
	background-color: transparent !important;
}
.navbar-dark.scrolled{
	background-color: #000000 !important;
}
.navbar-dark .navbar-nav .nav-link{
	color: var(--text-color);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	transition: all 0.4s;
	margin-left: 1rem;
}
.navbar-dark .navbar-nav.right-navigation .nav-item .nav-link{
	font-size: 18px;
}
.navbar-dark .navbar-nav .nav-link:hover{
	color: var(--secondary-color);
}






/* HERO SECTION STYLES */

.hero-section{
	height: 100vh;
	background: linear-gradient(rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(./assets/img/hero-one.jpg);;
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}


.hero-title{
	color: #ffffff;
	font-size: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}



.btn-main-clr{
	border: none;
	background-color: var(--secondary-color);
	padding: 10px 30px;
	color: var(--text-color);
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	border-radius: 30px;
}
.btn-main-clr:focus{
	box-shadow: none;
}



.scroll-down {
	padding-top: 60px;
  }
.scroll-down span {
	position: absolute;
	top: 80%;
	left: 50%;
	width: 30px;
	height: 50px;
	margin-left: -15px;
	border: 2px solid #fff;
	border-radius: 50px;
	box-sizing: border-box;
  }
.scroll-down span::before {
	position: absolute;
	top: 10px;
	left: 50%;
	content: '';
	width: 7px;
	height: 10px;
	margin-left: -3px;
	background-color: #fff;
	border-radius: 100%;
	-webkit-animation: sdb10 2s infinite;
	animation: sdb10 2s infinite;
	box-sizing: border-box;
  }
  @-webkit-keyframes sdb10 {
	0% {
	  -webkit-transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  -webkit-transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }
  @keyframes sdb10 {
	0% {
	  transform: translate(0, 0);
	  opacity: 0;
	}
	40% {
	  opacity: 1;
	}
	80% {
	  transform: translate(0, 20px);
	  opacity: 0;
	}
	100% {
	  opacity: 0;
	}
  }






  .upcoming-webinar{
	  padding: 3.5rem 0;
  }
  .webinar-slider-card{
	color: #ffffff;
	position: relative;
	height: 375px;
	border-radius: 10px;
    box-shadow: 0px 0px 10px #000000;
  }
  .webinar-slider-card::after{
	  content: '';
	  inset: 0;
	  position: absolute;
	  border-radius: 10px;
	  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.50) 80%, rgba(0, 0, 0, 0.20) 100%);
  }
  .webinar-slider-card img{
	  height: 100%;
	  object-fit: cover;
	  border-radius:10px;
  }
  .webinar-content{
	  position: absolute;
	  /* top: 30%; */
	  bottom: 0;
	  left: 0;
	  height: 60%;
	  width: 100%;
	  font-family: 'Poppins', sans-serif;
	  padding: 1rem;
	  border-radius: 0 0 10px 10px;
	  /* display: flex;
	  flex-direction: column;
	  justify-content: space-evenly;
	  align-items: space-evenly; */
	  /* background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.70) 80%, rgba(0, 0, 0, 0.50) 100%); */
	  z-index: 99;
  }
  .webinar-content h2{
	  font-size: 20px;
	  font-weight: 600;
	  /* color: #ff7c00; */
	  color: #fff;
  }
  .webinar-details{
	  display: flex;
	  justify-content: space-between;
	  font-size: 16px;
	  align-items: baseline;
  }
  .webinar-cost{
	  font-weight: 700;
	  font-size: 24px;
	  color: #ffffff;
  }
  .enroll-btn{
	  font-size: 14px;
	  background-color: var(--secondary-color);
	  color: #ffffff;
	  padding: 3px 10px;
	  border-radius: 20px;
  }
  .enroll-btn:hover{
	  color:#fff;
  }






.custom-slider {
	padding: 3.5rem 0;
    overflow: hidden;
}
.custom-slider-list .owl-stage-outer {
	overflow: unset;
}
.custom-slider-list .owl-stage{
	padding-left: 0px !important;
}








/* BOOST CUSTOMER EXPERIANCE */


.your-partners{
	padding: 3.5rem 0;
	overflow: hidden;
  }
  
  
  .your-partners-slider .owl-stage-outer {
	overflow: unset;
  }
  .your-partners-slider .owl-stage{
	padding-left: 0px !important;
  }
  
  
  
  .your-partners-slider a{
	  text-decoration: none;
  }
  .your-partners-slider .partner-card{
	color: #fff;
	padding: 1rem 1rem;
	border: 1px solid #eeeeee;
	/* background: #262626; */
	border: 1px solid #ffffff59;
	background: linear-gradient(to right bottom, #1f1e23 0%, rgb(80 80 80 / 50%) 100%);
	border-radius: 10px;
	/* height: 240px; */
	height: 250px;
	display: flex;
	align-items: center;
	cursor: pointer;
	.row {
		width: 100%;
	}
  }
  
  .your-partners-slider .partner-card .partner-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
  }
  .your-partners-slider .partner-card .partner-content h2{
	color: #ffffff;
	/* color: #ff7c00; */
	/* font-size: 22px; */
	/* font-size: 30px; */
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
  }
  
  .your-partners-slider .partner-card .partner-content p{
	color: #eeeeee;
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
  }
  .your-partners-slider .partner-card .partner-content .btn-know-more{
	display: inline-block;
	max-width: max-content;
	background-color: #0077BD;
	border: 0;
	border-radius: 30px;
	padding: 8px 30px;
  }
  
  
  .your-partners-slider .partner-card .partner-content span{
	  text-decoration: none;
	  font-size: 16px;
	  font-family: "Poppins", sans-serif;
	  font-weight: 500;
	  color: #ffffff;
	  display: flex;
	  align-items: center;
  }
  .your-partners-slider .partner-card .partner-content span img{
	  margin-left: 1rem;
	  width: 25px !important;
	  height: 15px;
  }
  
  .your-partners-slider .partner-card .partner-img img{
	  /* height: 255px; */
	  height: 100%;
	  object-fit: cover;
	  border-radius: 5px;
  }
  
  
  @media screen and (max-width:1599px) {
	  .your-partners-slider .partner-card{
		  height: auto;
		}
  }
  
  @media screen and (max-width:1400px) {
	.your-partners-slider .partner-card{
	  height: 240px;
	  /* height: 215px; */
  
	}
	.your-partners-slider .partner-card .partner-img{
	  display: flex;
	  /* align-items: baseline; */
	  align-items: center;
	}
	.your-partners-slider .partner-card .partner-content h2{
	  font-size: 18px;
	}
	.your-partners-slider .partner-card .partner-content p{
		font-size: 14px;
	}
	.your-partners-slider .partner-card .partner-content span{
		font-size: 14px;
	}
  }
  
  @media screen and (max-width:1200px) {
	  .your-partners-slider .partner-card{
		  /* height: 240px; */
		  height: auto;
	  
		}
  }
  @media screen and (max-width:767px) {
	.your-partners{
	  padding: 2rem 0;
	}
	.your-partners-slider .partner-card{
	  background: #262626;
	  border: 0px;
	  padding: 2rem 1rem;
	  /* height: 500px; */
	  height: 550px;
	  align-items: baseline;
	}
	
	.your-partners-slider .partner-card .partner-content{
	  padding-top: 2rem;
	}
	.your-partners-slider .partner-card .partner-content h2{
	  font-size: 16px;
	}
	.your-partners-slider .partner-card .partner-img img{
		height: 230px;
		object-fit: cover;
		border-radius: 20px;
	}
  }







.main-footer{
    padding: 4rem 0;
    background-color: #16161B;
	font-family: 'Poppins', sans-serif;
}
.small-footer{
    background-color: #1F1F25;
	padding: 1rem 0;
}
.small-footer p{
	margin-bottom: 0;
	color: #fff;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
}
.footerLogo-section{
	color: #fff;
}
.footerLogo-section h5{
	color: #fff;
	font-size: 24px;
}
.footerLogo-section p{
	color: #bbb;
	margin-bottom: 0;
}
.main-footer h3{
	font-size: 28px;
	color: #fff;
}
.main-footer ul{
	list-style-type: none;
	padding: 10px;
}
.main-footer ul li{
	margin-bottom: 10px;
	position: relative;
	transition: all 0.5s;
}
.main-footer ul li a{
	text-decoration: none;
	color: #bbb;
	font-size: 18px;
	font-weight: 400;
	transition: all 0.5s;
}
.main-footer ul li a:hover{
	color: #ffffff;
}
/* .main-footer ul li a i{
	display: none;
	transition: all 0.4s;
}
.main-footer ul li a:hover i{
	display: inline-block;
} */


.social-icons a{
	text-decoration: none;
	color: #ffffff;
	font-size: 30px;
	margin-right: 2rem;
	transition: all 0.5s;
}
.social-icons a:hover{
	color: var(--secondary-color);
}









.allWebinars-list{
	margin-top: 150px;
	margin-bottom: 100px;
	/* padding: 4rem 0; */
}

.webinarCard-lg{
	background-color: #16161B;
	height: 300px;
	/* height: auto; */
	box-shadow: 0px 0px 10px #000000ad;
}
.webinarCard-lg .row{
	height: 100%;
}
.webinarCard-lg-image{
	height: 100%;
}
.webinarImg{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.webinarList{
	height: 100vh;
	overflow-y: auto;

}
.webinarList::-webkit-scrollbar {
	display: none;
}
.webinarList {
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
  }
.webinarCard-lg-content{
	color: #ffffff;
	padding: 1.5rem 1rem;
}
.webinarCard-lg-content h2{
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.webinarCard-lg-content p{
	color: #bbb;
}
.webinarCard-lg-content .webinarCard-lg-details {
	display: grid;
	grid-template-columns: repeat(2,1fr);
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.webinarCard-lg-content .webinarCard-lg-details i{
	color: #EB3939;
	margin-right:5px;
}
.webinarCard-lg-content .webinarCard-lg-cost{
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.webinarCard-lg-content .webinarCard-lg-cost .view-btn{
	background-color: var(--primary-color);
	color: #ffffff;
	border-radius: 0;
	border: 0;
	padding: 10px 25px;
}


@media screen and (max-width:1600px) {
	.webinarCard-lg{
		height: 330px;
	}
}











.filter-card{
	background-color: #16161B;
	padding: 2rem;
}

.filter-card label{
	color: #ffffff;
	font-size: 18px;
	cursor: pointer;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.filter-card .form-control{
	border-radius: 0px;
}
.form-check-inline label{
	font-size: 16px;
	font-weight: 300;
}












	  
/* Card process */
.process{
	padding: 3.5rem 0;
}
.process-bg{
	background-color: #16161B;
	/* z-index: -2; */
	border-radius: 20px;
}
.process .row {
	position: relative;
	z-index: -1;
}
.process p {
	color: #bcc5e3;
}

.process .process__card:not(:last-child):after {
	content: "";
	width: 50%;
	height: 9px;
	background: url(https://venus-scocu-assets.s3.amazonaws.com/1616413341397722)
		0 0 no-repeat;
	top: 25%;
	left: 75%;
	position: absolute;
	display: inline-block;
	z-index: 99;
	background-size: contain;
}
@media screen and (max-width:992px) {
	.process .process__card:not(:last-child):after{
		left: 70%;
	}
	.process__card-content h4{
		font-size: 18px;
	}
}
@media screen and (max-width: 767px) {
	.process-bg{
		margin: 0 0px;
	}
	.process-bg h2{
		font-size: 25px;
	 }
	.process__card-content h4{
		font-size: 16px;
	}
	.process__card {
		display: flex;
		position: relative;
		padding: 3rem 1rem;
	}
	.process__card .process__card-content {
		text-align: initial;
		padding-left: 1rem;
	}
	.process__card img {
		width: 80px;
		height: 80px;
		position: relative;
		/* top: -20px; */
		top: 0;
	}
	.process__card .process__card-content h4 {
		font-size: 22px;
	}
	.process .process__card:not(:last-child):after {
		/* display: none; */
		/* transform: rotate(90deg);
		position: absolute;
		left: 0;
		top: 0;
		margin-top: 0;
		height: 7px;
		width: auto;
		min-width: 100px; */

		transform: rotate(90deg) translateY(-50%);
		position: absolute;
		left: -1%;
		/* top: 86%; */
		top: 100%;
		margin-top: 0;
		height: 7px;
		width: auto;
		min-width: 100px;
	}
}
@media screen and (max-width: 400px) {
	.process .process__card:not(:last-child):after {
		left: -3%;
		min-width: 110px;
	}
}
@media screen and (max-width: 350px) {
	/* .process .process__card:not(:last-child):after {
		left: -36px;
		top: 90%;
	} */
	.process__card .process__card-content h4 {
		font-size: 16px;
	}
}
/* Card process */


/* course-details */


.detailed-webinar-details{
	padding: 3.5rem 0;
	margin-top: 100px;
}

.webinarCard{
	background-color: #474747;
	color: #ffffff;
	padding: 2rem;
}
.webinarCard h1{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.webinarCard-img{
	height: 300px;
	width: 100%;
	object-fit: cover;
}
.webinarCard p{
	font-family: 'Roboto', sans-serif;
	color: #eee;
	font-size: 16px;
	font-weight: 400;
}
.webinarCard .webinarInfo{
	color: #ffffff;
	font-size: 18px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}

.webinar-price{
	background-color: #474747;
	color: #ffffff;
	padding: 2rem;
}
.webinar-price h2{
	font-size: 30px;
}
.webinar-price-title{
	font-size: 24px;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}
.webinar-price .add-cart-btn{
	background-color: orange;
	border: none;
	border-radius: 0px;
	width: 100%;
	padding: 10px;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
}


@media screen and (max-width:1400px) {
	.webinarCard h1{
		font-size: 24px;
	}
	.webinarCard .webinarInfo{
		font-size: 16px;
	}
	.webinar-price h2{
		font-size: 24px;
	}
	.webinar-price-title{
		font-size: 20px;
	}
	.radio label{
		font-size: 16px;
	}
}


/*  */

.radio {
	/* margin: 0.5rem; */
  }
  .radio label{
	  font-size: 16px;
	  cursor: pointer;
	  font-family: 'Poppins', sans-serif;
	  font-weight: 600;
  }
  .radio input[type=radio] {
	position: absolute;
	opacity: 0;
  }
  .radio input[type=radio] + .radio-label:before {
	content: "";
	background: #f4f4f4;
	border-radius: 100%;
	border: 1px solid #b4b4b4;
	display: inline-block;
	width: 1.4em;
	height: 1.4em;
	position: relative;
	/* top: -0.2em; */
	margin-right: 1em;
	vertical-align: top;
	cursor: pointer;
	text-align: center;
	transition: all 250ms ease;
  }
  .radio input[type=radio]:checked + .radio-label{
	  color: #3197EE;
  }
  .radio input[type=radio]:checked + .radio-label:before {
	background-color: #3197EE;
	box-shadow: inset 0 0 0 4px #f4f4f4;
  }
  .radio input[type=radio]:focus + .radio-label:before {
	outline: none;
	border-color: #3197EE;
  }
  .radio input[type=radio]:disabled + .radio-label:before {
	box-shadow: inset 0 0 0 4px #f4f4f4;
	border-color: #b4b4b4;
	background: #b4b4b4;
  }
  .radio input[type=radio] + .radio-label:empty:before {
	margin-right: 0;
  }






  /* POPUP CSS */

  .popup-screen{
	position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
	overflow-y: scroll;
	z-index: 99999;
  }

  .popup-screen .popup-card{
	margin: 70px auto;
    padding: 3rem 2rem;
    background: #2a2a2a;
    border-radius: 5px;
    width: 480px;
	min-height: 400px;
    position: relative;
    transition: all 2s ease-in-out;
	/* min-height: 400px; */
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
  }
  
  .popup-screen .popup-card label{
	  color: #ffffff;
	  
  }
  .popup-screen .popup-card .form-control{
	height: 48px;
    border-radius: 0px;
    background: inherit;
	color: #ffffff;
  }
  .popup-screen .popup-card .btn{
	  color: #ffffff;
  }
  .form-btn{
	  background-color: #4A0E88;
	  color: #ffffff;
	  width: 100%;
	  padding: 10px;
	  font-family: 'Poppins', sans-serif;
	  font-weight: 500;
	  letter-spacing: 1.2px;
	  font-size: 18px;
	  text-transform: uppercase;
	  border: 2px solid #4A0E88;
	  transition: all 0.3s;
	  border-radius: 0;
  }
  .form-btn:hover{
	  background-color: transparent;
	  border: 2px solid #4A0E88;
	  color: #4A0E88;
  }

  .shift-link{
	  text-decoration: none;
	  color: #E33263;
  }
  
  @media screen and (max-width:767px) {
	.popup-screen .popup-card{
		width: 90%;
	}
  }



  .contact-page{
	  padding: 3.5rem 0;
	  margin-top: 100px;
  }

  /* .contact-info{
	  background-color: #2a2a2a;
	  display: flex;
	  align-items: center;
	  color: #ffffff;
	  font-family: 'Poppins', sans-serif;
	  height: 140px;
  }
  .contact-info .icon{
	font-size: 30px;
    height: 60px;
    width: 60px;
    background: #EB3939;
    display: flex;
	flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
  .contact-info .info h5{
	  font-size: 24px;
	  color: #ffffff;
	  margin: 0;
	  font-weight: 600;
  }
  .contact-info .info p, .contact-info .info p a{
	font-size: 16px;
	color: #eee;
} */

.contact-info, .contact-form{
	background-color: #2a2a2a;
	color: #ffffff;
	padding: 3rem 2rem;
	font-family: 'Poppins', sans-serif;
}
.contact-info-header h3{
	color: #ffffff;
	font-size: 30px;
	font-weight: 600;
}
.contact-info-header p{
	color: #eee;
	font-size: 16px;
}
.contact-info-card{
	/* background-color: #2a2a2a;
    padding: 2rem 2rem; */
}
.contact-info-card .icon{
	font-size: 22px;
    height: 50px;
    width: 50px;
    background: #4a0e88;
    display: flex;
	flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }
.contact-info-card .info h5{
	font-size: 24px;
	color: #ffffff;
	margin: 0;
	font-weight: 600;
}
.contact-info-card .info p, .contact-info-card .info p a{
  font-size: 16px;
  color: #eee;
}

.contact-form .form-control{
	height: 48px;
    border-radius: 0px;
    background: inherit;
	color: #ffffff;
  }
  .contact-form textarea.form-control{
	height: auto;
  }





  /* CART CSS */
.cart-list{
	padding: 3.5rem 0;
}


.cart-item, .cart-price{
	padding: 2rem;
	background-color: #2a2a2a;
	
}
.cart-item img{
	height: 100%;
	object-fit: cover;
}
.cart-item h2{
	font-size: 20px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #ffffff;
}
.cart-item h3, .cart-item h6{
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: #eee;
}
.cart-item-cost p{
	font-size: 22px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 0;
}
.cart-action .btn{
	/* border-radius: 30px; */
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #ffffff;
}
.input-number {
	width: 80px;
	padding: 0 12px;
	vertical-align: top;
	text-align: center;
	outline: none;
	margin: 0 10px;
	height: 30px ;
	border-radius: 30px;
  }
  
  .input-number,
  .input-number-decrement,
  .input-number-increment {
	border: 1px solid #ccc;
	/* height: 40px; */
	user-select: none;
  }
  
  .input-number-decrement,
  .input-number-increment {
	display: inline-block;
	width: 30px;
	/* line-height: 38px; */
	background: #f1f1f1;
	color: #444;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	height: 30px;
	border-radius: 50% !important;
  }
  .input-number-decrement:active,
  .input-number-increment:active {
	background: #ddd;
  }
  
  .input-number-decrement {
	border-right: none;
	/* border-radius: 4px 0 0 4px; */
	
  }
  
  .input-number-increment {
	border-left: none;
	border-radius: 0 4px 4px 0;
  }



  .cart-price-items, .cart-price-total{
	  font-family: 'Poppins', sans-serif;
	  font-weight: 600;
	  color: #eee;
	  font-size: 16px;
	  display: flex;
	  align-self: center;
	  justify-content: space-between;
  }
  .cart-price-total{
	font-size: 22px;
	color: #ffffff;
  }
 .btn-order{
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	background-color: #4A0E88;
	color: #ffffff;
	padding: 10px;
  }


  .admin-area{
	width: 100%;
	overflow-x: hidden;
	font-family: 'Poppins', sans-serif;
	background-color: #1e1e2f;
}

.navigation{
	position: fixed;
	height: 100%;
	width: 300px;
	/* background-color: #5710b2; */
	background-color: #1F1F25!important;
	box-shadow: 0 2px 22px 0 rgb(0 0 0 / 20%), 0 2px 30px 0 rgb(0 0 0 / 35%);
}

.brand{
	display: flex;
	align-items: center;
	color: #fff;
	padding: 1rem;
	font-size: 24px;
	margin-bottom: 1rem;
	border-bottom: 1px solid #ffffff;
	/* border-right: 1px solid; */
}
.brand .brand-title h2{
	font-size: 24px;
	margin-left: 1rem;
	margin-bottom: 0;
	text-transform: uppercase;
}

.navigation ul{
	width: 100%;
	padding: 0;
	padding-left: 0;
}
.navigation ul li{
	list-style: none;
	transition: all 0.4s;
	border-radius: 10px 0px 0px 10px;
}
.navigation ul li.active{
	background-color:#fb8c00;
	border-radius: 10px 0px 0px 10px;
	color: #fff;
}
.navigation ul li:hover{
	background-color:#fff;
	border-radius: 10px 0px 0px 10px;
	color: #370090;
}
.linkactive {
	background-color:#fff;
	border-radius: 10px 0px 0px 10px;
	color: #000 !important;
}
.navigation ul li a{
	text-decoration: none;
	display: block;
	/* padding: 1rem; */
	color: #ffffff;
	display: flex;
	font-weight: 400;
	
}
.navigation ul li:hover a{
	color: #000;
}
.navigation ul li a .nav-icon{
	position: relative;
	display: block;
	min-width: 50px;
	height: 50px;
	line-height: 55px;
	text-align: center;
}
.navigation ul li a .nav-icon i{
	font-size: 24px;
}
.navigation ul li a .nav-title{
	position: relative;
	display: block;
	padding: 0 10px;
	height: 50px;
	line-height: 50px;
	white-space: nowrap;
}



.admin-workSpace{
	position: absolute;
	width: calc(100% - 300px);
	left: 300px;
	min-height: 100vh;
	background-color: #fff;
	overflow-x: hidden;
}
.admin-workSpace .topbar{
	display: flex;
	align-items: center;
	padding: 1.4rem 1rem;
	justify-content: space-between;
	background-color: #1F1F25!important;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.admin-workSpace .topbar .dropdown {
	position: relative;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
}
  
.admin-workSpace .topbar .dropdown-content {
	display: none;
	position: absolute;
	background-color: #fff;
	min-width: 120px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
	right: -12px;
	margin-top: 0px;
}

.admin-workSpace .topbar .dropdown:hover .dropdown-content {
	display: flex;
}
.admin-workSpace .topbar .dropdown:hover .dropdown-content ul {
	width: 100%;
	padding-left: 0;
	margin: 0;
}
.admin-workSpace .topbar .dropdown:hover .dropdown-content ul li{
	list-style: none;
}


/* ADMIN AREA FORM */
.add-webinar .btn-submit{
	/* display: block; */
	
	background-color: #00E5C5;
	padding: 10px 30px;
	color: #fff;
	font-weight: 600;
	
}
.webinarForm-card .card-header{
	background-color: #585858;
	font-size: 24px;
	font-weight: 600;
	color: #ffffff;
	text-transform: capitalize;
}

.webinarForm-card .form-control-file, .form-control-range{
	border-radius: 5px;
}

.webinarForm-card input[type=file]::file-selector-button {
	border: 1px solid #FCEAFF;
	padding: 8px 10px;
	border-radius: 0;
	background-color: rgb(75, 75, 75);
	transition: 0.3s;
	color: #fff;
  }
  
  .webinarForm-card input[type=file]::file-selector-button:hover {
	background-color: #81ecec;
	border: 1px solid #00cec9;
  }





  /* ADMIN-LOGIN */


  .admin-login{
	  min-height: 100vh;
	  background: #F2ECFF;
	  display: flex;
	  align-items: center;
  }

  .adminLogin-card{
		background: #fff;
		display: flex;
		box-shadow: 0px 5px 10px 0px rgb(149 149 149 / 36%);
  }
  .adminLogin-card .card-left{
	  width: 50%;
	  min-height: 500px;
	  background:linear-gradient(180deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.7) 100%), url(https://images.pexels.com/photos/2115217/pexels-photo-2115217.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
	  background-size: cover;
	  background-position: center;
	  background-blend-mode: luminosity;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }
  .adminLogin-card .card-right{
	  width: 50%;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }

  .form-card{
	  width: 100%;
	  padding: 3rem;
  }

.pointer {
	cursor: pointer;
}  