<main>
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="hero-title mb-4">Interactive Webinars</h1>
                    <button class="btn btn-main-clr btn-success">Get Started</button>
                </div>
            </div>
        </div>
        <a href="#aboutus" class="scroll-down"><span></span></a>
    </section>
    <app-upcoming-webinars></app-upcoming-webinars>
    <app-ondemand-webinars></app-ondemand-webinars>

    <section class="process" style="display: none;">
        <div class="container nav-container">
            <div class="">
                <!-- <div class="row mb-md-3">
                    <div class="col-lg-8 offset-lg-2 col-sm-8 offset-sm-2">
                        <h2 class="heading text-center mb-0">
                            Be up & running in minutes.
                        </h2>
                        <span class="headings-border_text"></span>
                    </div>
                </div> -->
                <div
                    class="row justify-content-center align-items-center text-center process-bg py-0 pt-5 py-lg-5 px-md-0 px-lg-4 ">
                    <div class="col-lg-12 mb-0 mb-md-5">
                        <h2 class="heading text-center mb-3 text-light " id="processTitile">
                            How Registration Works
                        </h2>
                        <p>Register For ​​​Interactive Webinars</p>
                        <span class="headings-border_text"></span>
                    </div>

                    <div class="col-md-4 process__card">
                        <!-- <img src="https://venus-scocu-assets.s3.amazonaws.com/1616413063986841" alt="phone" class="img-fluid mb-3"> -->
                        <img src="https://venus-scocu-assets.s3.amazonaws.com/1624426519108617" alt="phone"
                            class="img-fluid mb-3" id="pImgone">
                        <div class="process__card-content">
                            <h4 class="font-weight-bold text-white" id="pHeadingone">
                                Select Webinar
                            </h4>
                            <p id="pDescone">
                                Select from the list of the webinars by navigating to webinar registration page
                            </p>
                        </div>

                    </div>
                    <div class="col-md-4 process__card">
                        <!-- <img src="https://venus-scocu-assets.s3.amazonaws.com/1616413152038893" alt="phone" class="img-fluid mb-3"> -->
                        <img src="https://venus-scocu-assets.s3.amazonaws.com/1624426838068847" alt="phone"
                            class="img-fluid mb-3" id="pImgtwo">
                        <div class="process__card-content">
                            <h4 class="font-weight-bold text-white" id="pHeadingtwo">
                                Select Type
                            </h4>
                            <p id="pDesctwo">
                                Choose from variety of webinar type and register for the ones you're comfortable with
                            </p>
                        </div>

                    </div>
                    <div class="col-md-4 process__card">
                        <!-- <img src="https://venus-scocu-assets.s3.amazonaws.com/1616413243868985" alt="phone" class="img-fluid mb-3"> -->
                        <img src="https://venus-scocu-assets.s3.amazonaws.com/1624426984228982" alt="phone"
                            class="img-fluid mb-3" id="pImgthree">
                        <div class="process__card-content">
                            <h4 class="font-weight-bold text-white" id="pHeadingthree">
                                Complete Payment
                            </h4>
                            <p id="pDescthree">
                                Complete the required payment and attend the webinar from your webinar lists
                            </p>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </section>

</main>