<section class="contact-page">
    <div class="container">
        <div class="row d-none">
            <div class="col-lg-4">
                <div class="contact-info px-4 py-4">
                    <div class="icon">
                        <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="info pl-3">
                        <h5 class="mb-3">Our Phone</h5>
                        <p class="mb-0"><a href="tel:+13237451389">+1 323 745 1389</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info px-4 py-4">
                    <div class="icon">
                        <i class="fas fa-envelope-open-text"></i>
                    </div>
                    <div class="info pl-3">
                        <h5 class="mb-3">Our Email</h5>
                        <p class="mb-0"><a href="mailto:support@traininngsonline.com">support@traininngsonline.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contact-info  px-4 py-4">
                    <div class="icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div class="info pl-3">
                        <h5 class="mb-3">Our Location</h5>
                        <p class="mb-0"><a href="tel:9876543234">9854 National Blvd, Los Angeles, CA 90034</a></p>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-3">
                <div class="contact-info  px-4 py-4">
                    <div class="icon">
                        <i class="fas fa-map-marked-alt"></i>
                    </div>
                    <div class="info pl-3">
                        <h5 class="mb-3">Our Location</h5>
                        <p class="mb-0"><a href="tel:9876543234">B-Block, Tetra Grand Building, Yelahanka,Bangalore - 560064</a></p>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="contact-info mb-4 mb-lg-0">
                    <div class="contact-info-header mb-5">
                        <h3>Contact Info</h3>
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repudiandae officia possimus</p>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-lg-12 col-xl-6">
                            <div class="contact-info-card d-flex mb-5">
                                <div class="icon">
                                    <i class="fas fa-mobile-alt"></i>
                                </div>
                                <div class="info pl-3">
                                    <h5 class="mb-2">Our Phone</h5>
                                    <p class="mb-0"><a href="tel:+13237451389">+1 323 745 1389</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-12 col-xl-6">
                            <div class="contact-info-card d-flex mb-5">
                                <div class="icon">
                                    <i class="fas fa-envelope-open-text"></i>
                                </div>
                                <div class="info pl-3">
                                    <h5 class="mb-2">Our Email</h5>
                                    <p class="mb-0"><a href="tel:+13237451389">+1 323 745 1389</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="contact-info-card d-flex mb-5">
                                <div class="icon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                                <div class="info pl-3">
                                    <h5 class="mb-2">Our Location</h5>
                                    <p class="mb-0"><a href="">US: 9854 National Blvd, Los Angeles, CA 90034</a></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="contact-info-card d-flex mb-5">
                                <div class="icon">
                                    <i class="fas fa-map-marked-alt"></i>
                                </div>
                                <div class="info pl-3">
                                    <h5 class="mb-2">Our Location</h5>
                                    <p class="mb-0"><a href="">INDIA: B-Block, Tetra Grand Building, Yelahanka,Bangalore - 560064</a></p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </div>
            <div class="col-lg-6">
                <div class="contact-form">
                    <div class="contact-info-header mb-5">
                        <h3>Send A Message</h3>
                        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem repudiandae officia possimus</p>
                    </div>
                    <form class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Enter Name" id="email">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Email" id="email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Enter Mobile Number" id="email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <button class="btn form-btn">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>