.payment-div{
    display: flex;
    align-items: center;
    justify-content: center;
    .payment-card{
        h2{
            font-size: 24px;
            margin-top: 0px;
            margin-bottom: 1rem;
            font-weight: 500;
            span{
                color: rgb(125, 9, 160);
            }
            @media screen and (max-width:767px) {
                font-size: 16px;
                
            }
        }
        .form-control {
            width: 100% !important;
            border: 0;
            border-bottom: 1px solid rgb(187, 187, 187);
            margin-bottom: 1rem;
            &:focus-visible{
                border: 0 !important;
                outline: 0;
                border-bottom: 1px solid black;
            }
        }
        .btn-pay{
            margin-top: 1rem;
        }
        max-width:450px;
        padding: 1rem;
    }
}